<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumberjack Axe Throw Game</title>
    <link rel="stylesheet" href="../style/home.css" />
    <link rel="icon" type="image/png" href="../ressources/img/lumberjack.png" />
  </head>
  <body>
    <custom-header></custom-header>

    <main id="home">
      <section class="welcome-section">
        <h1 class="cssanimation leFadeInRight sequence">
          Welcome to the Lumberjack Axe Throw Game!
        </h1>
        <p>
          Step into the shoes of a rugged lumberjack and test your aim by
          throwing axes at trees. Aim carefully, avoid misses, and become the
          ultimate lumberjack by achieving the highest score!
        </p>
        <button
          id="startGame"
          onclick="window.location.href='Preferences.html'"
        >
          Try it !
        </button>
      </section>
    </main>

    <script src="../components/header.js"></script>
  </body>
</html>
