<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Records - Lumberjack Game</title>
    <link rel="stylesheet" href="../style/records.css" />
    <script src="../components/header.js"></script>
    <link rel="icon" type="image/png" href="../ressources/img/lumberjack.png" />
  </head>
  <body>
    <custom-header></custom-header>
    <main id="records-page">
      <section class="records-section">
        <h1>Here are our best players !</h1>
        <ul id="records-list"></ul>
      </section>
    </main>

    <script src="../scripts/recordsRequest.js"></script>
  </body>
</html>
