* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url('../ressources/img/lumberjack_changed.png');
  background-color: #e0ffe0;
  background-repeat: repeat;
  background-size: 30px;

  animation: moveBackground 50s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-section {
  background-color: #f8f8f8;
  padding: 2rem 2rem 0.5rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.login-section h1 {
  color: #2f4f4f;
}

.login-section p {
  color: #2f4f4f;
  margin-bottom: 1.5rem;
}

.login-section label {
  font-size: 1.2em;
  color: #3b5323;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bold;
}

.login-section input[type='text'],
.login-section input[type='password'] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type='submit'] {
  background-color: #8b4513;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

button[type='submit']:hover {
  background-color: #a0522d;
}

.error-message {
  color: #ff3333;
  font-size: 0.9em;
  margin-top: 1rem;
}
